@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  overflow-x: hidden;
}
body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: white;
}
button {
  color: black;
}
#stickyNav {
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: soft-light;
  backdrop-filter: blur(7.5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 26px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 2.5% 0 2.5%;
  width: 95%;
  top: 10px;
  border-left: 5px solid #c20000;
  border-right: 5px solid #64009e;
  background-image: linear-gradient(90deg, #ff2424, #a200ff),
    linear-gradient(90deg, #ff2424, #a200ff);
  background-size: 100% 5px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}
#stickyNav #logo {
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 32px;
  align-items: center;
  justify-content: center;
}
#stickyNav a {
  display: block;
}
#stickyNav button {
  background-color: white;
  cursor: pointer;
  border: none;
  border-radius: 92px;
  font-size: 19px;
  font-weight: 700;
  height: 49px;
  padding: 0px 20px 0px 20px;
  margin-right: 15px;
}
#landingPage {
  display: grid;
  grid-template-areas: "rec1";
  text-align: center;
  background-color: #000000;
  color: white;
}
#background {
  grid-area: rec1;
}
#landingPage #container {
  grid-area: rec1;
  z-index: 1;
  position: relative;
}
#landingPage h1 {
  background: linear-gradient(90.26deg, #ff0000 26.51%, #8977fe 72.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: 1200;
  font-size: 87px;
  padding-top: 80px;
  margin-bottom: 0;
}
#pageHeader h2 {
  font-weight: 500;
  font-size: 43px;
  color: white;
}
#description {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#description p {
  max-width: 820px;
  font-weight: 400;
  font-size: 27px;
  padding: 15px;
}
#options {
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}
.earlyAccess {
  margin-bottom: 10px;
}
.earlyAccess button {
  background-color: white;
  text-decoration: none;
  width: 223px;
  height: 65px;
  color: #1944e6;
  font-weight: 700;
  font-size: 21px;
  border-radius: 10px;
  border: none;
}
#inspireLink {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 19px;
}
.selection {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 150px;
  width: 90%;
  max-width: 600px;
}
.selection button {
  display: block;
  width: 60%;
  background-color: white;
  height: 73px;
  border-radius: 100px;
  margin: 10px;
  border: none;
  color: black;
  cursor: pointer;
}
.unselected {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}
#sections1 {
  margin-top: 15px;
}
#sections1 div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
#beforePodreel img {
  background: radial-gradient(
    circle,
    rgba(253, 205, 206, 1) 5%,
    rgba(255, 255, 255, 1) 50%
  );
}
#afterPodreel img {
  background: radial-gradient(
    circle,
    rgba(194, 238, 201, 1) 5%,
    rgba(255, 255, 255, 1) 50%
  );
}
#instructions {
  background: linear-gradient(106.75deg, #000428 0%, #928c00 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  text-align: center;
}
#instructionsHeader {
  margin: 10px;
}
#instructionsHeader h1 {
  font-weight: 800;
  font-size: 75px;
}
#instructionsHeader h4 {
  font-weight: 500;
  font-size: 31px;
  margin-bottom: 0;
  padding-bottom: 0;
}
#steps {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
}
.step {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  text-align: left;
  min-height: 80vh;
  padding-bottom: 10px;
}
.instruction {
  width: 95%;
  padding: 10px;
}
.instruction p {
  font-weight: 400;
  font-size: 22px;
}
.instruction h1 {
  font-weight: 700;
  font-size: 60px;
}
.instruction p {
  font-weight: 400;
  font-size: 25px;
  max-width: 585px;
}
.step img {
  width: 95%;
  border-radius: 30px;
}
#whyPodreel {
  border-radius: 0px 0px 60px 60px;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-image: radial-gradient(
      closest-corner circle at 1% 50%,
      #4385f5 0%,
      transparent 50%
    ),
    radial-gradient(
      closest-corner circle at 30% 60%,
      #f45c23 0%,
      transparent 60%
    ),
    radial-gradient(
      closest-corner circle at 66% 50%,
      #16be63 0%,
      transparent 50%
    ),
    radial-gradient(
      closest-corner circle at 80% 90%,
      #782d49 0%,
      transparent 70%
    ),
    radial-gradient(
      closest-corner circle at 80% 70%,
      #fbff24 0%,
      transparent 80%
    ),
    radial-gradient(
      closest-corner circle at 99% 40%,
      #a7a346 0%,
      transparent 60%
    );
  min-height: 100vh;
}

#whyTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: 109px;
}
#reasons {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  margin: 10px;
  flex-wrap: wrap;
}
#reasons h1 {
  font-weight: 700;
  font-size: 40px;
  padding-bottom: 40px;
}
.reason {
  border-radius: 30px;
  padding: 10px;
  min-width: 300px;
  width: 30%;
  margin: 10px;
  transition-duration: 0.2s;
}
.reason img {
  padding-top: 20px;
}
#reasons p {
  padding-bottom: 60px;
  font-weight: 500;
  font-size: 25px;
}
#r1 {
  background: linear-gradient(129.47deg, #0038f3 0.94%, #b06ab3 98.62%);
}
#r1:hover {
  background: linear-gradient(129.47deg, #0038f3 0.94%, #b06ab3 98.62%)
      padding-box,
    linear-gradient(to right, gray, white) border-box;
  border: 4px solid transparent;
}
#r2 {
  background: linear-gradient(129.9deg, #dc2424 2.04%, #4a569d 89.84%);
}
#r2:hover {
  background: linear-gradient(129.9deg, #dc2424 2.04%, #4a569d 89.84%)
      padding-box,
    linear-gradient(to right, gray, white) border-box;
  border: 4px solid transparent;
}
#r3 {
  background: linear-gradient(129.28deg, #43cea2 3.36%, #1d138d 124.95%);
}
#r3:hover {
  background: linear-gradient(129.28deg, #43cea2 3.36%, #1d138d 124.95%)
      padding-box,
    linear-gradient(to right, gray, white) border-box;
  border: 4px solid transparent;
}
#podreelsToInspire {
  margin: 10px;
  text-align: center;
}
#podreelsToInspire h1 {
  font-weight: 700;
  font-size: 80px;
}
#sections2 {
  margin-top: 30px;
}
#audioToInspire,
#videoToInspire {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.showcaseFrame {
  aspect-ratio: 1;
  width: 30%;
  background-color: #d9d9d9;
  border-radius: 20px;
  border: 5px solid;
  margin: 5px;
}
#podreelIsForYou {
  background: #0e0e0e;
  border-radius: 60px;
  color: white;
  margin-bottom: 20px;
  background-image: radial-gradient(
      closest-corner circle at 15% 20%,
      #8f01e2 0%,
      transparent 70%
    ),
    radial-gradient(
      closest-corner circle at 80% 65%,
      #f45c23 0%,
      transparent 50%
    ),
    radial-gradient(
      closest-corner circle at 30% 80%,
      #16be63 0%,
      transparent 50%
    ),
    radial-gradient(
      closest-corner circle at 40% 60%,
      #ff1f8a 0%,
      transparent 70%
    ),
    radial-gradient(
      closest-corner circle at 80% 70%,
      #fbff24 0%,
      transparent 80%
    ),
    radial-gradient(
      closest-corner circle at 99% 40%,
      #544feb 0%,
      transparent 60%
    );
}
#forYouTitle {
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  margin: 0;
}
#forYouTitle h1 {
  font-weight: 700;
  font-size: 109px;
  margin: 0;
  padding: 0;
}
#forYouTitle p {
  font-size: 30px;
  font-weight: 500;
}
#audiences {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 25px;
}
#audiences h1 {
  font-weight: bold;
  font-size: 45px;
  height: 2.5em;
}
#audiences p {
  font-weight: 500;
  font-size: 25px;
}
#audiences div {
  border-radius: 30px;
  padding: 10px;
  min-width: 300px;
  width: 30%;
  margin: 10px;
}
#signUp {
  text-align: center;
  color: white;
  background: #0e0e0e;
  border-radius: 35px;
  background: linear-gradient(#0e0e0e, #0e0e0e) padding-box,
    linear-gradient(#fd6a6a, #1bfa3f) border-box;
  border: 5px solid transparent;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  box-shadow: 10px 10px black;
}
#signUp h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0;
}
#signUpContents {
  border-radius: 34px;
  background-image: radial-gradient(
      closest-corner circle at 10% 99%,
      #244989 0%,
      transparent 160%
    ),
    radial-gradient(
      closest-corner circle at 35% 99%,
      #943a19 0%,
      transparent 40%
    ),
    radial-gradient(
      closest-corner circle at 65% 99%,
      #0c6e3a 0%,
      transparent 50%
    ),
    radial-gradient(
      closest-corner circle at 99% 99%,
      #605e2a 0%,
      transparent 1700%
    );
  padding-bottom: 25px;
}
#subtext {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sparkle {
  font-size: 75px;
  margin: 0;
}
#signUp button {
  width: 250px;
  height: 77px;
  background: #794ac5;
  color: white;
  border: 6px solid #ffffff;
  border-radius: 18px;
  box-shadow: 10px 10px white;
  font-weight: 700;
  font-size: 20px;
}

@media (orientation: landscape) {
  .selection button {
    font-weight: 700;
    font-size: 1.6em;
  }
  .display {
    width: 50%;
  }
  .face {
    width: 25%;
  }
  .instruction {
    /* Firefox */
    max-width: -moz-calc(50% - 20px);
    /* WebKit */
    max-width: -webkit-calc(50% - 20px);
    /* Opera */
    max-width: -o-calc(50% - 20px);
    /* Standard */
    max-width: calc(50% - 20px);
    min-width: 300px;
    padding: 5px;
  }
  .step img {
    /* Firefox */
    max-width: -moz-calc(40% - 20px);
    /* WebKit */
    max-width: -webkit-calc(40% - 20px);
    /* Opera */
    max-width: -o-calc(40% - 20px);
    /* Standard */
    max-width: calc(40% - 20px);
    min-width: 100px;
    border-radius: 30px;
  }
}
@media (orientation: portrait) {
  .selection button {
    height: 50px;
  }
  #stickyNav button {
    font-size: 15;
    width: 40%;
  }
  #stickyNav #logo {
    font-size: 28px;
  }
  #logo p {
    font-size: 0.8em;
  }
  #landingPage h1 {
    padding-top: 60px;
  }
  #pageHeader h2 {
    margin-bottom: 0;
  }
  #description p {
    margin-top: 0;
    font-size: 24px;
  }
  #inspireLink {
    margin-top: 0;
    padding-top: 0;
  }
  .selection button {
    font-weight: 700;
    font-size: 1em;
  }
  .display {
    width: 90%;
  }
  .face {
    width: 75%;
    margin-bottom: 15px;
  }
  #instructionsHeader h1 {
    font-size: 70px;
  }
  .step {
    min-height: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .instruction h1 {
    margin: 0;
    font-size: 50px;
  }
  .stepNumber {
    margin-bottom: 10px;
  }
  #reasons {
    display: flex;
    flex-flow: column;
  }
  #whyTitle {
    font-size: 70px;
  }
  .reason {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  #podreelsToInspire h1 {
    font-size: 50px;
  }
  #forYouTitle h1 {
    font-size: 60px;
  }

  #audiences h1 {
    font-size: 50px;
  }
  .showcaseFrame {
    width: 90%;
  }
  .reason {
    width: 90%;
    margin-top: 14px;
  }
  #audiences div {
    width: 90%;
    margin-top: 14px;
  }
}
